<!-- <header class="header">
    <div class="container1">
      
        <div class="logo">
            <img src="/assets/images/arhbit-logo-header.png">
        </div>
  
        
    </div>
  </header> -->
  
  <section class="hero">
    <div class="container">
      <h1>Shraddha Kesharwani</h1>
      <p>The Data Analyst you need</p>
      <a href="#contact" class="cta-button">Resume</a>
      <a href="#contact" class="cta-button" style="margin-left: 10px;">Projects</a>
      <p><img src="/assets/images/linkedin.webp" alt="Image 1" style="width: 40px;"><img src="/assets/images/linkedin.webp" alt="Image 1" style="width: 40px;"></p>
      <h2>Wanna Know Me Better?</h2>
      <p><img src="/assets/images/gif-bounce-arrow.gif" alt="Image 1" style="width: 80px;"></p>
    </div>
  </section>

  <section class="dual-layout">
    <h2>Education</h2>
    <div class="container">
      <div class="left-image">
        <img src="/assets/images/background-header3.jpg" alt="Left Image">
      </div>
      <div class="right-description">
        <h3>Lovely Professional University</h3>
        <p>Description text goes here.</p>
      </div>
      <div class="left-description">
        <h3>Description Title</h3>
        <p>Description text goes here.</p>
      </div>
      <div class="right-image">
        <img src="/assets/images/background-header4.jpg" alt="Right Image">
      </div>
    </div>
  </section>

  

  <section class="main-hero">
    <div class="container-mainhero">
      <p>Projects</p>
      <span>Detailed information about the projects. Go to the projects section</span>
    </div>
    <div class="box-container">
      <div class="box-mainhero">
        <img src="/assets/images/handshake.jpg" alt="Image 1">
        <a href="#" class="box-button-mainhero">Button 1</a>
      </div>
      <div class="box-mainhero">
        <img src="/assets/images/handshake.jpg" alt="Image 2">
        <a href="#" class="box-button-mainhero">Button 2</a>
      </div>
      <div class="box-mainhero">
        <img src="/assets/images/background-header4.jpg" alt="Image 3">
        <a href="#" class="box-button-mainhero">Button 3</a>
      </div>
      <div class="box-mainhero">
        <img src="/assets/images/background-header4.jpg" alt="Image 3">
        <a href="#" class="box-button-mainhero">Button 3</a>
      </div>
    </div>
  </section>

  <section class="full-width-section">
    <h2>Certifications</h2>
    <div class="swap-container">
      <div class="image-section">
        <img src="/assets/images/background-header4.jpg" alt="Image">
      </div>
      <div class="description-section">
        <p>Description Of Certification 1</p>
      </div>
    </div>
    <div class="swap-container">
      <div class="description-section">
        <p>Description Of Certification 1</p>
      </div>
      <div class="image-section">
        <img src="/assets/images/background-header4.jpg" alt="Image">
      </div>
      
    </div>
    <div class="swap-container">
      <div class="image-section">
        <img src="/assets/images/background-header4.jpg" alt="Image">
      </div>
      <div class="description-section">
        <p>Description Of Certification 1</p>
      </div>
      
    </div>
  
  </section>

  <section id="services" class="services">
    <h2>Skills</h2>
    <div class="container">
     
      <div class="service">
        <div class="image">
          <img src="/assets/images/background-header5.jpg" alt="Service 1 Image">
        </div>
        <div class="description">
          <h3>Programming Languages</h3>
          <p>Description of Service 1 goes here.</p>
        </div>
      </div>
      <!-- Add more service sections -->
      <div class="service">
        <div class="image">
          <img src="/assets/images/background-header2.jpg" alt="Service 2 Image">
        </div>
        <div class="description">
            <h3>Development</h3>
          <p>Description of Service 2 goes here.</p>
        </div>
      </div>
  
      <div class="service horizontal">
        <div class="image">
          <img src="/assets/images/background-header4.jpg" alt="Service 3 Image">
        </div>
        <div class="description">
            <h3>Tools</h3>
          <p>Description of Service 3 goes here.</p>
        </div>
      </div>
  
      <div class="service horizontal">
        <div class="image">
          <img src="/assets/images/background-header4.jpg" alt="Service 4 Image">
        </div>
        <div class="description">
            <h3>Non-Technical</h3>
          <p>Description of Service 4 goes here.</p>
        </div>
      </div>
  
     
      <!-- Add more service sections -->
      <!-- Repeat the above service section structure for Service 9 and Service 10 -->
    </div>
  </section>
  
  
  
  <footer class="footer">
    <div class="container">
        <div class="contact-info">
            <h3>Contact Us</h3>
            <p>123 Property Street, City, Country</p>
            <p>Email: infoexample.com</p>
            <p>Phone: +1234567890</p>
        </div>
        <div class="social-media">
            <h3>Connect with Us</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
    </div>
  </footer>